.serviceContainer{
    padding: 5rem 3.5rem;
    margin: 10rem 0;
}

.servicesDiv{
    text-align: center;
    backgroud-color: #112240 !important;

}

.services_allItems{
    display: flex;
    justify-content: space-between;
    margin-top: 5rem !important;
}

.svg_icons{
    transform: scale(3);
}

@media only screen and (max-width: 768px){
    .serviceContainer{
        padding: 0rem!important; 
    }
    .services_allItems{
        flex-direction: column;
        max-width: 350px;
        margin: 0 auto !important;
        margin-top: 5rem !important;
    }
    .servicesDiv{
        padding: 5rem 0 !important;
    }
}